* {
  margin: 0;
  padding: 0;
}

/*---Navbar----*/

.navbar {
  background: #fff;
}

.navbar a {
  color: grey;
}

.navbar a:hover {
  color: #000;
}

/*---Main----*/

.col-md-5 {
  background-color: grey;
  margin: 2rem;
  width: 900px;
}

img {
  width: 100%;
  height: 100%;
}
