* {
  margin: 0;
  padding: 0;
}


#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #aaaaaa, #dddddd);
  padding: 0 !important;
}

.navbar-brand {
  height: 40px;
  padding-left: 20px;
}
